._header-web{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    
    background-color: rgba(240, 248, 255, 0.835);
}
.image-banner,.mainmenu-area,.scroll_header{transition: all 0.4s;}